.back {
  display: block;
  position: fixed;
  left: 20px;
  top: 20px; }
  .back a {
    padding: 20px;
    text-align: center; }
    .back a:hover i {
      -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
      animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-perspective: 1000px;
      perspective: 1000px; }
    .back a:hover i {
      color: #97DCFF; }
    .back a i {
      color: #CCCCCC; }

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    -webkit-transform: translate3d(1px, 0, 0);
    transform: translate3d(1px, 0, 0); }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-2px, 0, 0);
    transform: translate3d(-2px, 0, 0); }
  40%, 60% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0); } }

@keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    -webkit-transform: translate3d(1px, 0, 0);
    transform: translate3d(1px, 0, 0); }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-2px, 0, 0);
    transform: translate3d(-2px, 0, 0); }
  40%, 60% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0); } }

.uitleg {
  width: 60%;
  display: block;
  margin: auto;
  text-align: center; }
  .uitleg h2 {
    font-family: 'Patua One', cursive;
    color: #ea464b; }
  .uitleg p {
    margin-top: 50px;
    font-family: 'ubuntu', sans-serif; }

.lightgallery {
  width: 80%;
  margin: auto;
  margin-top: 50px; }
  .lightgallery a {
    position: relative;
    display: block;
    width: 23%;
    margin: 1%;
    float: left;
    border: 4px solid #ea464b;
    border-radius: 10px; }
    .lightgallery a:hover button {
      opacity: 1;
      -webkit-transform: translateY(-50%) translateX(-50%) scale(1);
      -ms-transform: translateY(-50%) translateX(-50%) scale(1);
      transform: translateY(-50%) translateX(-50%) scale(1); }
    .lightgallery a img {
      width: 96%;
      margin: 2%;
      border-radius: 5px; }
    .lightgallery a button {
      position: absolute;
      padding: 4px 20px;
      border: none;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: bold;
      -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
      transition: opacity 0.3s, -webkit-transform 0.3s;
      -o-transition: opacity 0.3s, transform 0.3s;
      transition: opacity 0.3s, transform 0.3s;
      transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
      top: 50%;
      left: 50%;
      border: 3px solid #fff;
      background: transparent;
      color: #fff;
      opacity: 0;
      -webkit-transform: translateY(-50%) translateX(-50%) scale(0.25);
      -ms-transform: translateY(-50%) translateX(-50%) scale(0.25);
      transform: translateY(-50%) translateX(-50%) scale(0.25); }

@media screen and (max-width: 800px) {
  .uitleg {
    width: 95%; }
  .lightgallery {
    width: 95%; }
    .lightgallery a {
      width: 30%;
      margin: 1.5%; } }

@media screen and (max-width: 600px) {
  .lightgallery a {
    width: 46%;
    margin: 2%; } }
