$grey: #CCCCCC;
$red: #ea464b;
$blue: #97DCFF;

.first{
  .inhoud{
    display: block;
    margin: auto;
    height: 20vh;
    margin-top: 25vh;
      h1{
        display: block;
        text-align: center;
        margin: auto;
        font-family: 'Patua One', cursive;
        color: $red;
      }
      .intro{
        width: 100%;
        height: 100vh;
          svg{
            display: block;
            width: 500px;
            margin: auto;
            margin-top: -80px;
            }
          .j, .e, .f{
            fill:$grey;
            }
      }
      h2{
        display: block;
        text-align: center;
        font-family: 'Patua One', cursive;
        color: $grey;
        margin: auto;
        margin-top: -40vh;
      }
    }
    .icon{
      position: absolute;
      bottom: 10px;
      left: 50%;
      right: 50%;
      i {
        font-size: 30px;
        font-weight: bold;
        color: $grey;
      }
    }
}

.onepage-pagination {
  display: none;
}

.second{
  background-color: $red;
  .svg-background{
    width: 100%;
    position: absolute;
    .st0{
      opacity: 0.3;
    }
    .animate{
      opacity: 1;
    }
    .on{
      opacity: .3;
    }
  }
  .inhoud{
    position: relative;
    margin: auto;
    margin-top: 10vh;
    h2{
      display: block;
      text-align: center;
      font-family: 'Patua One', cursive;
      color: white;
      margin: auto;
      margin-top: -50px;
      margin-bottom: 50px;
    }
    .grid{
      width: 100vh;
      margin: auto;
        a{
          width: 23%;
          margin:1%;
          display: block;
          float: left;
          border: 4px solid white;
          border-radius: 10px;
          &:hover figure img{
            opacity: 1;
          }
          &:hover figcaption h2{
            transform: translateY(0);
          }
          &:hover figure button{
            opacity: 1;
	          transform: translateY(-50%) translateX(-50%) scale(1);
          }
        figure{
          position: relative;
          overflow: hidden;
          margin: 5px;
          background: #333;
          img{
            position: relative;
            display: block;
            width: 100%;
            transition: opacity 0.3s;
          }
          svg{
            position: absolute;
          	top: -1px; /* fixes rendering issue in FF */
          	z-index: 10;
          	width: 100%;
          	height: 100%;
            path{
              fill: white;
            }
          }
          figcaption{
            position: absolute;
          	top: 0;
          	z-index: 11;
          	padding: 10px;
          	width: 100%;
          	height: 100%;
          	text-align: center;
            h2{
              margin: 0 0 20px 0;
            	color: #3498db;
            	text-transform: uppercase;
            	letter-spacing: 1px;
            	font-weight: 300;
            	font-size: 130%;
            	transition: transform 0.3s;
            }
            button{
              position: absolute;
            	padding: 4px 20px;
            	border: none;
            	text-transform: uppercase;
            	letter-spacing: 1px;
            	font-weight: bold;
            	transition: opacity 0.3s, transform 0.3s;
              top: 50%;
            	left: 50%;
            	border: 3px solid #fff;
            	background: transparent;
            	color: #fff;
            	opacity: 0;
            	transform: translateY(-50%) translateX(-50%) scale(0.25);
            }
          }
        }
        }
        .bigr{
          display: block;
          width: 48%;
          float: right;
        }
        .bigl{
          display: block;
          width: 48%;
          float: left;
        }
    }
  }
  .icon{
    position: absolute;
    bottom: 10px;
    left: 50%;
    right: 50%;
    i {
      font-size: 30px;
      font-weight: bold;
      color: white;
    }
  }
}

.third{
  background-color: black;
  .svg-background{
    width: 100%;
    height: 100vh;
    position: absolute;
    .animate{
      fill:white;
      opacity: 1;
    }
    .on{
      opacity: 0;
    }
  }
  .inhoud{
    position: relative;
    margin: auto;
    margin-top: 10vh;
      .grid{
        width: 100vh;
        margin: auto;
          a{
            width: 23%;
            margin: 1%;
            display: block;
            float: left;
            border: 4px solid white;
            border-radius: 10px;
            &:hover figure img{
              opacity: 1;
            }
            &:hover figcaption h2{
              transform: translateY(0);
            }
            &:hover figure button{
              opacity: 1;
  	          transform: translateY(-50%) translateX(-50%) scale(1);
            }
          figure{
            position: relative;
            overflow: hidden;
            margin: 5px;
            background: #333;
            img{
              position: relative;
              display: block;
              width: 100%;
              transition: opacity 0.3s;
            }
            svg{
              position: absolute;
            	top: -1px; /* fixes rendering issue in FF */
            	z-index: 10;
            	width: 100%;
            	height: 100%;
              path{
                fill: white;
              }
            }
            figcaption{
              position: absolute;
            	top: 0;
            	z-index: 11;
            	padding: 10px;
            	width: 100%;
            	height: 100%;
            	text-align: center;
              h2{
                margin: 0 0 20px 0;
              	color: #3498db;
              	text-transform: uppercase;
              	letter-spacing: 1px;
              	font-weight: 300;
              	font-size: 130%;
              	transition: transform 0.3s;
              }
              button{
                position: absolute;
              	padding: 4px 20px;
              	border: none;
              	text-transform: uppercase;
              	letter-spacing: 1px;
              	font-weight: bold;
              	transition: opacity 0.3s, transform 0.3s;
                top: 50%;
              	left: 50%;
              	border: 3px solid #fff;
              	background: transparent;
              	color: #fff;
              	opacity: 0;
              	transform: translateY(-50%) translateX(-50%) scale(0.25);
              }
            }
          }
          }
          .bigr{
            display: block;
            width: 48%;
            float: right;
          }
          .bigl{
            display: block;
            width: 48%;
            float: left;
          }
      }
    }

  .icon{
    position: absolute;
    bottom: 10px;
    left: 50%;
    right: 50%;
    i {
      font-size: 30px;
      font-weight: bold;
      color: white;
    }
  }
}

.fourth{
  background: $blue;
  h2{
    display: block;
    text-align: center;
    font-family: 'Patua One', cursive;
    color: white;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .inhoud{
    width: 100vh;
    margin: auto;
    .inv{
      display:none;
    }
    h3{
      color: $red;
      font-family: 'Patua One', cursive;
    }
    .skills{
      ul{
        font-family: 'ubuntu', sans-serif;
        font-size: 16px;
        color: white;
      }
    }
    .half{
      width: 50%;
      border-radius: 50%;
      border: 4px solid white;
      display: block;
      margin: auto;
    }
    p{
      color: white;
      float: right;
      font-family: 'ubuntu', sans-serif;
      font-size: 16px;
    }
  }
  .icon{
    position: absolute;
    bottom: 10px;
    left: 50%;
    right: 50%;
    i {
      font-size: 30px;
      font-weight: bold;
      color: white;
    }
  }
}

.fifth{
  h2{
    display: block;
    text-align: center;
    font-family: 'Patua One', cursive;
    color: $red;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .inhoud{
    width: 100vh;
    margin: auto;
    .skills{
      h3{
        color: $red;
        font-family: 'Patua One', cursive;
      }
      ul{
        font-family: 'ubuntu', sans-serif;
        font-size: 16px;
      }
    }
    .contact{
      h3{
        color: $red;
        font-family: 'Patua One', cursive;
      }
      fieldset{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: 'ubuntu', sans-serif;
        input, textarea{
          background: $blue;
          width: 100%;
          padding: 10px;
          border: none;
          border-radius: 5px;
        }
      }
      .right{
        width: 50%;
        float: right;
      }
      .left{
        width: 45%;
        float: left;
      }
      button{
        background: $red;
        border: none;
        color: white;
        width: 100%;
        padding: 10px;
        font-weight: bold;
        border-radius: 5px;
        transition: .3s ease;
        &:hover{
          box-shadow: 5px 5px 0px black;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
    .second{
      .svg-background{
        display: none;
      }
      .inhoud{
        margin-top: 10vh;
      }
    }
    .third{
      .svg-background{
        display: none;
      }
    }
}
@media screen and (max-width: 1300px){
  .second, .third{
    .inhoud{
      .grid{
        width: 95%;
        margin: auto;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .second, .third{
    .inhoud{
      .grid{
        a, .bigr, .bigl{
          float: left;
          width: 30%;
        }
      }
    }
  }
  .fourth, .fifth{
    .inhoud{
      width: 90%;
      .inv{
        display: block;
      }
      .vis{
        display: none;
      }
    }
  }
}
@media screen and (max-width: 800px){
  .fifth{
    .inhoud{
      .contact{
        form{
          .left, .right{
            float: left;
            clear: both;
            width: 100%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .second, .third{
    .inhoud{
      .grid{
        width: 90%;
        a, .bigr, .bigl{
          float: left;
          width: 40%;
          margin-left:5%;
          margin-right: 5%;
        }
      }
    }
  }
}
@media screen and (max-width: 500px){
  .first{
    .inhoud{
      margin-top: 20vh;
      .intro{
        svg{
          width: 100%;
          margin-top: .5vh;
        }
      }
      h2{
        margin-top: -45vh;
      }
    }
  }
}
@media screen and (max-width: 400px){
  .fourth, .fifth{
    h2{
      margin: auto;
      margin-bottom: 5px;
      margin-top: 5px;
    }
    .inhoud{
      p, ul li{
        font-size: 14px;
      }
      form{
        fieldset{
          label, input{
            font-size: 14px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 320px){
  .first{
    .inhoud{
      h2{
        margin-top: -50vh;
      }
    }
  }
  .fourth, .fifth{
    .inhoud{
      p, ul li{
        font-size: 12px;
        form{
          fieldset{
            label, input{
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
